:root {
  --body-color: #red;
  --body-background-color: #f4f4f4;
  --body-primary-color: #75bf48;
  --body-secondary-color: #658b56;
  /*--body-primary-color: #3498DB;*/

  --body-danger-color: #ea6657;
  --body-danger-hover-color: #d0564a;

  --menu-text-color: #bbb8d3;
  --menu-text-inverse-color: #000000;
  --menu-bg-color: #ffffff;
  --menu-bg-hover-color: #4cb6ea;
  --menu-open-border-top-color : rgba(110, 110, 110, 0.25);
  
  --table-odd-background-color: #ffffff;
  --table-odd-color: #000000;
  --table-even-background-color: #ffffff;
  --table-even-color: #000000;
  --table-hover-background-color: #999999;
  --table-hover-color: #000000;
  
  --table-cell-border-color: #999999;
  
  --table-header-color: #000000;
  --table-header-background-color: #ffffff;
}
