:root {
  /* Palette de Couleurs */
  --primary-color: #75bf48;
  /* Exemple: aerodynamics #4682B4*/

  --secondary-color:#272a34;
  --tertiary-color: #d0564a;
  --quaternary-color: #ffffff;
  --quinary-color: #f4f4f4;
  --senary-color: #658b56;
  --septenary-color: #9a9b9b;
  --octonary-color: #313541;

  /* Body */
  --body-color: var(--secondary-color);
  --body-background-color: var(--quinary-color);

  /* Menu */
  --menu-link-txt-color: var(--secondary-color);
  --menu-link-txt-hover-color: var(--quaternary-color);
  --menu-link-hover-border-color: var(--quaternary-color);
  --menu-bg-color: var(--primary-color);
  --menu-border-bottom-color : var(--quinary-color);
  --menu-btn-download-color: var(--quaternary-color);
  --menu-btn-txt-color: var(--primary-color);

  /* Filter */
  --filter-txt-title1-color: var(--primary-color);
  --filter-txt-title2-color: var(--quaternary-color);
  --filter-txt-title3-color: var(--septenary-color);
  --filter-txt-color: var(--quaternary-color);
  --filter-bg-color: var(--secondary-color);
  --filter-bg-input-border-color: var(--septenary-color);
  --filter-bg-input-focus-color: var(--octonary-color);
  --filter-slidebar-inside-color: var(--primary-color);
  --filter-slidebar-outside-color: var(--quaternary-color);
  --filter-bouton1-color: var(--primary-color);
  --filter-bouton2-color: var(--tertiary-color);

  /* Table */
  --table-odd-background-color: var(--quaternary-color);
  --table-odd-color: var(--secondary-color);
  --table-even-background-color: var(--quaternary-color);
  --table-even-color: var(--secondary-color);
  --table-hover-background-color: var(--septenary-color);
  --table-hover-color: var(--secondary-color);
  --table-cell-border-color: var(--septenary-color);
  --table-header-color: var(--secondary-color);
  --table-header-background-color: var(--quaternary-color);

  /* About */
  --about-btn-download-color: var(--primary-color);
  --about-btn-txt-color: var(--quaternary-color);

}