{% include 'header.twig' %}
<div class="form-container" id="login">
    <div>
        <h1>Login Page</h1>&nbsp;
    </div>
    <hr>
    <form method="POST">
        <input  type="hidden" name="act" value="login"/>
        <div class="login-container-input">
            <label for="login-name">Login</label>
            <div>
                <input class="input-text" type="text" name="login">
            </div>
        </div>
        <div class="login-container-input">
            <label for="login-password">password</label>
            <div>
                <input class="input-text" type="password" name="pass">
            </div>
        </div>
        <button class="submit-button" type="submit">Submit</button>
    </form>
</div>

{% include 'footer.twig' %}