.form-container {
    background: white;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    margin: 10rem auto 60px;
}

.form-container-2 {
    background: white;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    width: 40%;
    margin: 10rem auto 60px;
}

.input-text {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
    box-sizing: border-box;
    margin: 8px 60px 8px 0;
}

.submit-button {
    background-color: #75bf48;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 100%;
    margin:40px 0 8px;
}

.text-important{
    color: #75bf48;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;

}
/* Transition */
.select:hover::after {
    color: #75bf48;
}

.rTable {
    margin-top: 10px;
}